extends ../layout

include ../../mixins/forms
include ../../mixins/menus
include ../../mixins/tables

block content
  
  h1= title
  
  mixin helpmenu_back('projects')
  
  .form
    form(action='', method='post', class='form-horizontal', enctype='multipart/form-data')
      mixin method(method)
      mixin csrf(token)
      table.table.table-bordered.table-striped
        mixin thead( [ 'Project' ] )
        tbody
          tr
            td
              mixin input('text', 'name', 'Name', sess.form.values.name, sess.form.errors.name, '(Internal use only)', true)
          tr
            td
              mixin input('text', 'title', 'Project Title', sess.form.values.title, sess.form.errors.title, 'This shows up in the rollover, alt tag, lightbox', true)
          tr
            td
              mixin input('text', 'categories', 'Categories', sess.form.values.categories, sess.form.errors.categories, 'Seperate categories by a comma and a space (ex. video, web, motion)')  
          tr
            td
              mixin file('image', 'Thumbnail Image', sess.form.values.image, sess.form.errors.image, '')
          tr
            td
              mixin input('text', 'video', 'Video Link', sess.form.values.video, sess.form.errors.video, 'Vimeo Address')
          tr
            td
              mixin input('text', 'link', 'Website Link', sess.form.values.link, sess.form.errors.link, '')
          tr
            td
              mixin file('photo', 'Still Image', sess.form.values.photo, sess.form.errors.photo, 'If project is a single photo or graphic use this')
          tr
            td
              mixin textarea('description', 'Description', sess.form.values.description, sess.form.errors.description, '')
      mixin actions(method)
            
  script(type='text/javascript')
    CKEDITOR.replace( 'description' );