extends layout

block content
  h1= title
  
  h2
    Manage
  ul
    li
      a(href='/admin/user') Users
    li
      a(href='/admin/category') Categories
    li
      a(href='/admin/lead') Leads
    li
      a(href='/admin/transaction') Transcations
