include mixins/blocks

!!! html
html
  head
    title= title
    link(type="image/x-icon", href="/images/favicon.ico", rel="shortcut icon")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    // link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    a(name='top')
    
    mixin header('about')
    mixin flash()
    
    .white-wash
      #subheader
        .container
          .row
            .span12
              .inside
                .title2
                  h1
                    | About Us
                .submenu
                  ul
                    li.first
                      a(href='#capabilities')
                        | Capabilities
                    li
                      a(href='#process')
                        | Process
                    li.last
                      a(href='#leadership')
                        | Leadership
                      
    a(name='capabilities')
    .white-wash
      #capabilities.region-top
        .container
          .row
            .span5
              .inside
                .head-inline
                  h2.title-pink
                    | Capabilties
                h3
                  | We plan, design, develop, and manage to look great in the process.
                p
                  | Oxygen has over 12 years of experience in making compelling digital experiences come alive. With our knowledge of how to create quality campaigns at the intersection of online design, motion, advertising, social media and cutting-edge technology, we can help you create an overarching digital experience that will reach the modern consumer, and grow your business.
            .span7
              .inside
                .items
                  .item.item-0
                    .text
                      | With research and experience we guide our clients through the planning process with a collaborative and insightful approach. 
                    .over
                      ul.first
                        li Audience Definition & Research
                        li Wireframing
                        li Social Strategy
                        li Campaign Strategy
                        li Social Strategy
                        li Requirements Definition
                        li Creative Brief
                      ul.last
                        li Search Engine Strategy
                        li Content Strategy
                        li User Research, Roles & Scenarios
                  .item.item-1
                    .text
                      | Whether your project is for the web, mobile, tradeshow screen or all three, we’ve got the solution for you. 
                    .over
                      ul.first
                        li UX Design
                        li Motion Graphics
                        li Strategic brand positioning
                        li Flash/HTML5 Rich Media Development
                        li Video Direction and Production
                        li Content Development & Copywriting 
                        li Branding
                      ul.last
                        li 2D/3D Animation
                        li Marketing Presentations
                        li Display Advertising
                        li Social Presence Design
                        li Intranet Design/Planning
                        li Standard/Dynamic Display Campaigns
                        li Jumbotron Videos
                  .item.item-2
                    .text
                      | We will work with you to determine the best technology for your project. We are always pushing ourselves to learn newer and cutting edge practices.
                    .over
                      ul.first
                        li HTML5
                        li CSS3
                        li PHP
                        li Javascript
                        li jQuery
                        li Node.js
                        li MongoDB
                      ul.last
                        li MySQL
                        li Actionscript Programming 
                        li Drupal
                        li Wordpress
                        li Nginx
                        li Varnish
                        li Redis
            
    a(name='process')
    .white-wash
      #process.region
        .container
          .row
            .span12
              .inside
                .head-inline
                  h2.title-pink
                    | Process
                  .subtitle
                    | We've been doing this a long time and have developed a proven strategy.
                .image
                  img(src='/images/process.png')
                  .text
                    table
                      tbody
                        tr
                          td.item-1
                            h3
                              | Discovery
                            p
                              | Each project begins with research, including collecting market and competitive information, historical trends and emerging tones or themes that helps shape our creativity in line with your vision. We determine the specific key elements that that will define your company's project.
                          td.item-2
                            h3
                              | Exploration
                            p
                              | Bringing a wealth of talent at this phase strengthens all the thinking that follows, so we have the entire team review and evaluate the gamut of ideas and concepts that emerge from our research. The team at this point includes the client, strategic partners and all the designers at our studio.
                          td.item-3
                            h3
                              | Consolidation
                            p
                              | At this point, dominant concepts that surfaced in the previous phases are fleshed out during an extensive visual exploration.  Directed by the strategic objectives and the information extracted from the research, the design team considers every possibility and hones them to find a core approach.
                          td.item-4
                            h3
                              | Realization
                            p
                              | With our experience and intuition we bring the brand conceptualization and design elements into focus. Then we work with our internet engineers to insure the final product lives up to the promise of the concept, and set about creating the digital experience right for your company. In the end, that digital experience is a reflection of everyone involved in the process.
                          td.item-5
                            h3
                              | Evaluation
                            p
                              | After a project's actual launch, we then evaluate Key Performance Indicators and metrics for success, reviewing analytics to insure that platforms and campaigns are delivering as promised.
                          td.item-6
                            h3
                              | Optimize and revise
                            p
                              | Acting on the key findings, we revisit the campaigns through evaluation phases, to keep evolving and optimizing the digital experience for greatest results.  
                .goto-top
                  a(href='#top')
                    | Top 
                    img(src='/images/arrow_up.png')
            
    a(name='leadership')
    .white-wash
      #leadership.region
        .container
          .row
            .span12
              .inside
                .head-inline
                  h2.title-pink
                    | Leadership
                  .subtitle
                    | luptatem en thoe runde accusantium thoisy
                .items
                  .item.item-pat.item-left
                    .image
                      img(src='/images/pat2.jpg')
                    .text
                      .name
                        | Patrick
                      .t
                        | Director of Strategy, Co-Founder
                      .desc
                        | 
                  .item.item-blank
                  .item.item-elliot.item-left
                    .image
                      img(src='/images/elliot2.jpg')
                    .text
                      .name
                        | Elliot Weaver
                      .t
                        | Director of Technology
                      .desc
                        | 
                  .item.item-blank
                  .item.item-blank
                  .item.item-ron.item-right
                    .image
                      img(src='/images/ron2.jpg')
                    .text
                      .name
                        | Ron Fugelseth
                      .t
                        | Executive Creative Director, Co-Founder
                      .desc
                        | 
                  .item.item-blank
                  .item.item-janet.item-right
                    .image
                      img(src='/images/janet2.jpg')
                    .text
                      .name
                        | Janet Corpuz
                      .t
                        | Account Director
                      .desc
                        | 
                .goto-top
                  a(href='#top')
                    | Top 
                    img(src='/images/arrow_up.png')
      
    mixin footer()
     
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='/javascripts/cap.js')
    script(type='text/javascript', src='/javascripts/lead.js')
    script(type='text/javascript', src='/javascripts/scripts.js')