include mixins/blocks

!!! html
html
  head
    title= title
    link(type="image/x-icon", href="/images/favicon.ico", rel="shortcut icon")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    // link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    a(name='top')
    
    mixin header('about')
    mixin flash()
    
    .white-wash
      #subheader
        .container
          .row
            .span12
              .inside
                .sep
                  img(src='/images/sep_top.png')
                .title2
                  h1
                    | About Us
                .submenu
                  ul
                    li.first
                      a(href='#capabilities')
                        | Capabilities
                    li
                      a(href='#process')
                        | Process
                    li.last
                      a(href='#leadership')
                        | Leadership
                      
    a(name='capabilities')
    .white-wash
      #capabilities
        .container
          .row
            .span5
              .inside
                .head-inline
                  h2.title-pink
                    | Capabilties
                h3
                  | Design, development, and everything in between.
                p
                  | We are known for our unique ability to make the obscure palatable, but much more than that, we are strategic marketers with over 12 years of digital experience that gives us insight into the minds of the digital consumer.  From solving complex marketing challenges to defining brands and growing businesses, Oxygen does it all.
            .span7
              .inside
                .items
                  .item
                    .text
                      | Web Design & Development
                    .over
                      | Lorem ipsum cola dolar qu siva.
                  .item
                    .text
                      | Performance Marketing
                    .over
                      | Lorem ipsum cola dolar qu siva.
                  .item
                    .text
                      | Motion Graphics
                    .over
                      | Lorem ipsum cola dolar qu siva.
                  .item
                    .text
                      | Social Marketing
                    .over
                      | Lorem ipsum cola dolar qu siva.
                  .item
                    .text
                      | Web Design & Development
                    .over
                      | Lorem ipsum cola dolar qu siva.
                  .item
                    .text
                      | Performance Marketing
                    .over
                      | Lorem ipsum cola dolar qu siva.
                  .item
                    .text
                      | Motion Graphics
                    .over
                      | Lorem ipsum cola dolar qu siva.
                  .item
                    .text
                      | Social Marketing
                    .over
                      | Lorem ipsum cola dolar qu siva.
                  .item
                    .text
                      | Web Design & Development
                    .over
                      | Lorem ipsum cola dolar qu siva.
                  .item
                    .text
                      | Performance Marketing
                    .over
                      | Lorem ipsum cola dolar qu siva.
                  .item
                    .text
                      | Motion Graphics
                    .over
                      | Lorem ipsum cola dolar qu siva.
                  .item
                    .text
                      | Social Marketing
                    .over
                      | Lorem ipsum cola dolar qu siva.
            
    a(name='process')
    .white-wash
      #process
        .container
          .row
            .span12
              .inside
                .sep-large
                  .inner
                    img(src='/images/sep_large.png')
                .head-inline
                  h2.title-pink
                    | Process
                  .subtitle
                    | luptatem en thoe runde accusantium thoisy
                .image
                  img(src='/images/process.png')
                  .text
                    table
                      tbody
                        tr
                          td.item-1
                            h3
                              | Discovery
                            p
                              | We begin every project with research—collecting market and competitive information, from historical market trends to emerging tones and themes that will help to shape our vision and creativity. Duringv this early step, we determine the specific key elements that that will define the remainder of the branding process for your company and project.
                          td.item-2
                            h3
                              | Exploration
                            p
                              | We now bring the entire team together to review and evaluate the gamut of ideas and concepts that emerge from the research. The team at this point will include the client, strategic partners and all the designers at our studio. Bringing a wealth of talent at this phase strengthens all the thinking that follows.
                          td.item-3
                            h3
                              | Consolidation
                            p
                              | In this phase, dominant concepts that surfaced in the investigatory phases are fleshed out during an extensive visual exploration.  Many ideas are played out, without any preconceived style of design. Directed by the strategic objectives and the information extracted from the research, the design team considers every possibility.
                          td.item-4
                            h3
                              | Realization
                            p
                              | Now informed, we apply our experience and intuition and the brand conceptualization comes into focus. In this phase we bring in our internet engineers to insure the final product lives up to the promise of the concept.  In the end, the brand created is a reflection of everyone involved in the process.
                          td.item-5
                            h3
                              | Evaluation
                            p
                              | Now it is time to evaluate Key Performance Indicators and metrics for success, reviewing analytics to insure that platforms and campaigns are delivering as promised.
                          td.item-6
                            h3
                              | Optimize and revise
                            p
                              | Acting on the key findings, we revisit the exploration through evaluation phases evolving and optimizing. 
                .goto-top
                  a(href='#top')
                    | Top 
                    img(src='/images/arrow_up.png')
            
    a(name='leadership')
    .white-wash
      #leadership
        .container
          .row
            .span12
              .inside
                .sep-large
                  .inner
                    img(src='/images/sep_large.png')
                .head-inline
                  h2.title-pink
                    | Leadership
                  .subtitle
                    | luptatem en thoe runde accusantium thoisy
                .items
                  .item.item-pat.item-left
                    .image
                      img(src='/images/pat.jpg')
                    .text
                      .name
                        | Patrick
                      .t
                        | Really Cool Guy
                      .desc
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Unds nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                  .item.item-blank
                  .item.item-elliot.item-left
                    .image
                      img(src='/images/elliot.jpg')
                    .text
                      .name
                        | Elliot Weaver
                      .t
                        | Director of Technology
                      .desc
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Unds nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                  .item.item-blank
                  .item.item-blank
                  .item.item-ron.item-right
                    .image
                      img(src='/images/ron.jpg')
                    .text
                      .name
                        | Ron Fugelseth
                      .t
                        | Art Director
                      .desc
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Unds nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                  .item.item-blank
                  .item.item-janet.item-right
                    .image
                      img(src='/images/janet.jpg')
                    .text
                      .name
                        | Janet Corpuz
                      .t
                        | Account Manager
                      .desc
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Unds nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                .goto-top
                  a(href='#top')
                    | Top 
                    img(src='/images/arrow_up.png')
      
    mixin footer()
     
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='/javascripts/cap.js')
    script(type='text/javascript', src='/javascripts/lead.js')