include mixins/blocks

!!! html
html
  head
    title= title
    link(type="image/x-icon", href="/images/favicon.ico", rel="shortcut icon")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    // link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
  a(name='top')
  
  .scrollblock
    
    mixin header('home')
    mixin flash()
  
    h1.throw
      | Oxygen Productions, Inc.
    
    .white-wash.hero-wrapper
    
      // #hero-stand.hidden-desktop
      //   .container
      //     .row
      //       .span12
      //         .inside
      //             img(src='/images/c-vmware.jpg')
      
      #hero.visible-desktop
        .container
          .row.hero-inside
            .span12
              .inside
                .slide.slide-1.slide-vmware
                  img(src='/images/t-9.jpg', class='tile tile1')
                  img(src='/images/t-4a.png', class='tile tile3')
                  img(src='/images/t-2a.png', class='tile tile2')
                
                
    
      #about.bg-checkered
        .container
          .row
            .span5
              .inside.s-left
                .block
                  h2.title.bg-grey.t-white
                    | Who We Are
                  h3
                    | Oxygen is an full service agency, building brands and engaging audiences
                  p.light
                    | We are known for our unique ability to make the obscure palatable, we are strategic marketers with over 12 years of digital experience that gives us insight into the minds of the digital consumer.  From solving complex marketing challenges to defining brands and growing businesses, Oxygen does it all.
                  
            .span7
              .inside.s-right
                .block
                  h2.title.bg-grey.t-white
                    | Blog
                  .item
                    a(href="/blog")
                      img(src='/images/img0.jpg')
                    h3.small
                      | Freelance iOS Developer needed right away, like now.
                    p.light
                      | Lorem Ipsum is simply dummy txt industry. opposed to using 'Content here, content Many desktop publishing packages...
                    p.t-pink
                      a(href="/blog") Read more...
    
    
    #capabilities.bg-gradient-white.white-wash
      .container
        .row.top
          .span12
            .inside
              .block
                .head-inline
                  h2.title-pink
                    | Capabilities
                  .subtitle
                    | luptatem en thoe runde accusantium thoisy 
        .row.middle
          .span4
            .inside
              .block.ability.ability-design
                h3.throw
                  | Design
                img(src='/images/design.jpg')
                p
                  | Strategic brand positioning, web experience, back end CMS, SEO.
                  
          .span4
            .inside
              .block.ability.ability-motion
                h3.throw
                  | Motion
                img(src='/images/motion.jpg')
                p
                  | Attract Videos, marketing presentations, video production, 3D animation, motion graphics.
          .span4
            .inside
              .block.ability.ability-ad
                h3.throw
                  | Advertising
                img(src='/images/advertising.jpg')
                p
                  | Brand and Performance, Campaign Stratgey, Social Strategy, Standard and Dynamic Display Campaigns. 
        .row.bottom
          .span12
            .inside
              .block
                span.arrow-bright
                  a(href='#', class='t-grey-dark') See all capabilities
  
    #clients.bg-gradient-grey
      .container
        .row
          .span4
            .inside
              .block
                h2.title.bg-pink.t-white
                  | Clients
                h3
                  | Since 2000 our greatest strength is providing memorable, distinct and powerful creative
                p
                  | Oxygen Prvbines years of experience, results centric design and cutting edge technology to deliver the most effective web solutions.
          .span8
            .inside
              // .block.clients-stand.hidden-desktop
              //   img(src='/images/s-clients.png')
              .block.visible-desktop
                  span.client-logo.client-disney
                  span.client-logo.client-vmware
                  span.client-logo.client-abc
                  span.client-logo.client-ca
                  span.client-logo.client-naturipe
                  span.client-logo.client-synopsys
                  span.client-logo.client-ebay
                  span.client-logo.client-upspring
                  span.client-logo.client-thx
                  span.client-logo.client-univa
                  span.client-logo.client-milton
                  span.client-logo.client-lincoln
                  span.client-logo.client-greystripe
                  span.client-logo.client-intel
                  span.client-logo.client-lionfilms
                  span.client-logo.client-americanwater
                  span.client-logo.client-goodwill
                  span.client-logo.client-dasher
                  span.client-logo.client-martini
                  span.client-logo.client-senate
                  span.client-logo.client-namco
                  span.client-logo.client-defibtech
                  span.client-logo.client-webley
                  span.client-logo.client-half
                  span.client-logo.client-fox
              
    mixin quote(sess.form.values)
    mixin footer()      
          
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(type='text/javascript', src='/javascripts/scrollorama.js')
  script(type='text/javascript', src='/javascripts/scripts.js')     
  script(type='text/javascript', src='/javascripts/quotes.js')
          
          
