include mixins/blocks

!!! html
html
  head
    title= title
    link(type="image/x-icon", href="/images/favicon.ico", rel="shortcut icon")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    // link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
  a(name='top')
  
  .scrollblock
    
    mixin header('home')
    mixin flash()
  
    h1.throw
      | Oxygen Productions, Inc.
    
    .white-wash.hero-wrapper
    
      // #hero-stand.hidden-desktop
      //   .container
      //     .row
      //       .span12
      //         .inside
      //             img(src='/images/c-vmware.jpg')
      
      #hero.visible-desktop
        .container
          .row.hero-inside
            .span12
              .inside
                - if (randomnum == 0 || randomnum == 2) { var slide0 = 'active'; } else { var slide0 = 'inactive'; }
                - if (randomnum == 1) { var slide1 = 'active'; } else { var slide1 = 'inactive'; }
                div(class="slide slide-0 slide-vmware "+slide0)
                  a(href="/work/vmware")
                    img(src='/images/t-9.jpg', class='tile tile1')
                    img(src='/images/t-4a.png', class='tile tile3')
                    img(src='/images/t-21a.png', class='tile tile2')
                div(class="slide slide-1 slide-disney "+slide1)
                  a(href="/work/disney")
                    img(src='/images/disn_2.png', class='tile tile1')
                    img(src='/images/t-5c.png', class='tile tile3')
                    img(src='/images/disn_0.png', class='tile tile2')
                .front-pager
                  .dots
                    - var i = 0;
                    - for(i = 0; i < 2; i++)
                      - if (i == 0 || i == 2)
                        div(class="front-dot front-dot-#{i} "+slide0)
                      - else
                        div(class="front-dot front-dot-#{i} "+slide1)
                  .dot-arrow
                
                
    
      #about.bg-checkered
        .container
          .row
            .span5
              .inside.s-left
                .block
                  h2.title.bg-grey.t-white
                    | Who We Are
                  h3
                    | Oxygen is a full-service digital agency. 
                  p.light
                    | We provide creative, strategic and technical development of digital products and services.  We’ve been building successful online experiences for our clients since 2000.
                  p.light
                    | Wanna chat about your upcoming project? 
                    a(href="#quote") Contact us...
                  
            .span7
              .inside.s-right
                .block
                  h2.title.bg-grey.t-white
                    | Blog
                  .item
                    a(href="/blog")
                      img(src='/images/blog-moxie-s.png')
                    h3.small
                      | Moxie Conference Room FX
                    p.light
                      | While shooting an interview with Richard Donner, he used a phrase I've never forgotten, “Kill your babies”. "Babies" being anything we feel a strong attachment to...
                    p.t-pink
                      a(href="/blog") Read more...
    
    
    #capabilities.bg-gradient-white.white-wash
      .container
        .row.top
          .span12
            .inside
              .block
                .head-inline
                  h2.title-pink
                    | Capabilities
                  .subtitle
                    | Whatever your digital need, we have a solution.
        .row.middle
          .span4
            .inside
              .block.ability.ability-design
                h3.throw
                  | Design
                img(src='/images/design.jpg')
                p
                  | Strategic brand positioning, web experience, back end CMS, SEO.
                  
          .span4
            .inside
              .block.ability.ability-motion
                h3.throw
                  | Motion
                img(src='/images/motion.jpg')
                p
                  | Attract Videos, marketing presentations, video production, 3D animation, motion graphics.
          .span4
            .inside
              .block.ability.ability-ad
                h3.throw
                  | Advertising
                img(src='/images/advertising2.jpg')
                p
                  | Brand and Performance, Campaign Stratgey, Social Strategy, Standard and Dynamic Display Campaigns. 
        .row.bottom
          .span12
            .inside
              .block
                span.arrow-bright
                  a(href='#', class='t-grey-dark') See all capabilities
  
    #clients.bg-gradient-grey
      .container
        .row
          .span4
            .inside
              .block
                h2.title.bg-pink.t-white
                  | Clients
                h3
                  | Not to name-drop, but...
                p
                  | We’re proud to help Fortune 500 clients like these bring their imagination to reality, by delivering comprehensive and tailored digital experiences that capture their business needs. Large and small, we love our clients. See our 
                  a(href="/work") work 
                  | to view Oxygen's track record of impressive results. 
          .span8
            .inside
              // .block.clients-stand.hidden-desktop
              //   img(src='/images/s-clients.png')
              .block.visible-desktop
                  span.client-logo.client-disney
                  span.client-logo.client-vmware
                  span.client-logo.client-abc
                  span.client-logo.client-ca
                  span.client-logo.client-naturipe
                  span.client-logo.client-synopsys
                  span.client-logo.client-ebay
                  span.client-logo.client-upspring
                  span.client-logo.client-thx
                  span.client-logo.client-univa
                  span.client-logo.client-milton
                  span.client-logo.client-lincoln
                  span.client-logo.client-greystripe
                  span.client-logo.client-intel
                  span.client-logo.client-lionfilms
                  span.client-logo.client-americanwater
                  span.client-logo.client-goodwill
                  span.client-logo.client-dasher
                  span.client-logo.client-martini
                  span.client-logo.client-senate
                  span.client-logo.client-namco
                  span.client-logo.client-defibtech
                  span.client-logo.client-webley
                  span.client-logo.client-half
                  span.client-logo.client-fox
              
    mixin quote(sess.form.values)
    mixin footer()      
          
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(type='text/javascript', src='/javascripts/scrollorama.js')
  script(type='text/javascript', src='/javascripts/scripts.js')     
  script(type='text/javascript', src='/javascripts/quotes.js')
  script(type='text/javascript', src='/javascripts/hero.js')
          
          
