include mixins/blocks

!!! html
html
  head
    title= title
    meta(name="keywords", content="flash presentations,motion graphics,video production,actionscript programming,banner design,web site design")
    meta(name="description", content="Over 10 years flash presentation design experience, Flash actionscript programming, web site design and production, video production and digital media design. Designers for many of the Fortune 500 firms.")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
  .scrollblock
    
    mixin header()
    mixin flash()
    block content
    mixin quote()
    mixin footer()
     
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='/javascripts/scrollorama.js')
    script(type='text/javascript', src='/javascripts/scripts.js') 
    