include mixins/blocks
include mixins/forms
include mixins/tables

!!! html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    // link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
  mixin header('home')
  //mixin flash()
  
  h1.throw
    | Oxygen Productions, Inc.
    
  .white-wash
    #login
      .container
        .row
          .span12
            .form
              form(action='', method='post', class='form-horizontal')
                mixin method('post')
                mixin csrf(token)
                table.table.table-bordered.table-striped
                  mixin thead( [ 'Login' ] )
                  tbody
                    tr
                      td
                        mixin input('text', 'login', 'Username', '', '', '')
                    tr
                      td
                        mixin input('password', 'password', 'Password', '', '', '')
                mixin actions('login')
      
    mixin footer()      
          
          
