extends ../layout

include ../../mixins/forms
include ../../mixins/menus
include ../../mixins/tables

block content
  
  h1= title
  
  mixin helpmenu_back('posts')
  
  .form
    form(action='', method='post', class='form-horizontal', enctype='multipart/form-data')
      mixin method(method)
      mixin csrf(token)
      table.table.table-bordered.table-striped
        mixin thead( [ 'Post' ] )
        tbody
          - if (method == 'put')
            tr
              td
                mixin disabled('id', 'ID', sess.form.values.id, sess.form.errors.id, '')
          tr
            td
              mixin input('text', 'title', 'Title', sess.form.values.title, sess.form.errors.title, '', true)
          tr
            td
              mixin input('text', 'slug', 'Slug', sess.form.values.slug, sess.form.errors.slug, '', true)
          tr
            td
              mixin checkbox('featured', 'Featured', '1', sess.form.values.featured, sess.form.errors.featured, '', true)
          tr
            td
              mixin input('text', 'tags', 'Tags', sess.form.values.tags, sess.form.errors.tags, '')
          tr
            td
              mixin input('text', 'author', 'Author', sess.form.values.author, sess.form.errors.author, '')
          tr
            td
              mixin file('image', 'Image', sess.form.values.image, sess.form.errors.image, '')  
          tr
            td
              mixin textarea('post', 'Post', sess.form.values.post, sess.form.errors.post, '')
          tr
            td
              mixin textarea('summary', 'Summary', sess.form.values.summary, sess.form.errors.summary, '')
      mixin actions(method)
            
  script(type='text/javascript')
    CKEDITOR.replace( 'post' );
    CKEDITOR.replace( 'summary' );
