extends ../layout

include ../../mixins/forms
include ../../mixins/menus
include ../../mixins/tables

block content
  
  h1= title
  
  mixin helpmenu_back('cases')
  
  .form
    form(action='', method='post', class='form-horizontal', enctype='multipart/form-data')
      mixin method(method)
      mixin csrf(token)
      table.table.table-bordered.table-striped
        mixin thead( [ 'Case' ] )
        tbody
          - if (method == 'put')
            tr
              td
                mixin disabled('id', 'ID', sess.form.values.id, sess.form.errors.id, '')
          tr
            td
              mixin input('text', 'name', 'Name', sess.form.values.name, sess.form.errors.name, '', true)
          tr
            td
              mixin input('text', 'title', 'Title', sess.form.values.title, sess.form.errors.title, '', true)  
          tr
            td
              mixin textarea('description', 'Description', sess.form.values.description, sess.form.errors.description, '')
          tr
            td
              mixin input('text', 'categories', 'Categories', sess.form.values.categories, sess.form.errors.categories, '')
          tr
            td
              mixin file('image', 'Image', sess.form.values.image, sess.form.errors.image, '')
          tr
            td
              mixin textarea('quick', 'Quick Text', sess.form.values.quick, sess.form.errors.quick, '')
      mixin actions(method)
            
  script(type='text/javascript')
    CKEDITOR.replace( 'description' );
    CKEDITOR.replace( 'quick' );
