extends ../layout

include ../../mixins/forms
include ../../mixins/tables
include ../../mixins/menus

block content
  h1= title
  
  mixin helpmenu_add('User', 'users')
  
  mixin pager(pager)
  
  table.table.table-bordered.table-striped
    mixin thead([ '', 'id', 'email', 'name', 'updated' ])
    tbody
      - if (!rows.length)
        mixin tr_empty('Users', 'users', 5)
      - else
        each row in rows
          mixin tr_op( [ 'op', row._id, row.email, row.firstname+' '+row.lastname, row.updated ], row, 'users' )
              
  mixin pager(pager)
